
<h2>Welcome, {{student.uname}}!</h2>

<p>{{student.bio}}</p>
<p>{{student.email}}</p>

<h2>Yeah, I code.... Bro</h2>

<p>{{student.priorKnowledge}}</p>
<p>{{student.toKnow}}</p>

<a href="/profile/student/{{student.uname}}/edit">Edit My Bitch</a>

<hr>
