<h1 class="page-title">Edit Profile</h1>

<div class="edit-form-container">
  <form class="edit-form" action="/profile/student/edited" method="post">
    <input hidden type="text" name="id" value="{{student.id}}">

    <div class="">
      <label>Username:</label>
      <input type="text" name="uname" value="{{student.uname}}">
    </div>
    <br>
    <div class="">
      <label>Bio:</label>
      <input type="text" name="bio" value="{{student.bio}}">
    </div>
    <br>
    <div class="">
      <label for="">Email:</label>
      <input type="text" name="email" value="{{student.email}}">
    </div>
    <!-- <br>
    <div class="">
      <label for="">Password:</label>
      <input type="text" name="pword" value="{{student.pword}}">
    </div> -->
    <br>
    <div class="">
      <label for="">First Name:</label>
      <input type="text" name="fname" value="{{student.fname}}">
    </div>
    <br>
    <div class="">
      <label for="">Last Name:</label>
      <input type="text" name="lname" value="{{student.lname}}">
    </div>
    <br>
    <div class="">
      <label for="">Preferred Stack:</label>
      <input type="text" name="stack" value="{{student.stack}}">
    </div>
    <br>
    <div class="">
      <label for="">I have prior knowledge in:</label>
      <input type="text" name="lang1" value="{{student.lang1}}">
      <input type="text" name="lang2" value="{{student.lang2}}">
    </div>
    <br>
    <div class="">
      <label for="">Languages I would like to know:</label>
      <input type="text" name="langToKnow1" value="{{student.langToKnow1}}">
      <input type="text" name="langToKnow2" value="{{student.langToKnow2}}">
    </div>
    <br>
    <button type="submit" class="btn btn-primary" name="button">Submit</button>

  </form>
    <br>
    <a href="/profile/student/{{student.uname}}/delete/"><div class="btn btn-danger" type="button" name="button">Delete Profile</div></a>

  <hr>

</div>
