
<h2>Welcome, {{student.uname}}!</h2>

<p>{{student.bio}}</p>
<p>{{student.email}}</p>

<h2>Yeah, I code.... Bro</h2>

<p>{{student.priorKnowledge}}</p>
<p>{{student.toKnow}}</p>


<a href="/profile/student/{{student.uname}}/edit">Edit Profile</a>


<hr>

<div class="container">
      <div class="row" id="userFormArea">
        <div class="col-md-12">
          <form class="" id="userForm">
            <div class="form-group">
              <label style="display:none" for="">Enter Username</label>
              <input class="form-control" id="username" style="display:none" value="{{student.uname}} - {{student.userType}}">
              <br />
              <input type="submit" class="btn btn-primary" value="Enter Chat">
            </div>
          </form>

        </div>
      </div>


      <div id="messageArea" class="row">
        <div class="col-md-4">
          <div class="well">
            <h3>Online Users</h3>
            <ul class="list-group" id="users"></ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="chat" id="chat"></div>
          <form class="" id="messageForm" action="index.html" method="post">
            <div class="form-group">
              <label for="">Enter Message</label>
              <textarea class="form-control" id="message" name="name" rows="8" cols="80"></textarea>
              <br />
              <input type="submit" name="" class="btn btn-primary" value="Send Message">
            </div>
          </form>
        </div>
      </div>
    </div>
