
<form class="" action="/profile/student/edited" method="post">
  <h2>Welcome,<input type="text" name="uname" value="{{student.uname}}">!</h2>
  <input hidden type="text" name="id" value="{{student.id}}">
  <p>Welcome,<input type="text" name="bio" value="{{student.bio}}"></p>
  <p><label for="">Email</label><input type="text" name="email" value="{{student.email}}"></p>
  <p><label for="">Password</label><input type="text" name="pword" value="{{student.pword}}"></p>
  <p><label for="">First Name</label><input type="text" name="fname" value="{{student.fname}}"></p>
  <p><label for="">Last Name</label><input type="text" name="lname" value="{{student.lname}}"></p>
  <h1>Do You Even Code, Bro?</h1>

  <!-- TEST THE STUDENTS -->
  <!-- <h3><label for="">Which resources have you been using to learn code?</label></h3> -->
  <h3><label for="">List Your current Code-understanding here:</label><input type="text" name="" value="{{student.priorKnowledge}}"></h3>
  <h3><label for="">What are you hoping to learn with <em>Code Pilot</em></label><input type="text" name="" value="{{student.toKnow}}"></h3>

  <button type="submit" class="btn btn-primary" name="button">Submit</button>



</form>

  <a href="/profile/student/{{student.uname}}/delete/"><div class="btn btn-danger" type="button" name="button">Delete Profile</div></a>

<hr>
