<h2>Welcome, {{teacher.uname}}!</h2>

<p>{{teacher.bio}}</p>
<p>{{teacher.email}}</p>

<h2>Yeah, I teach.... Bro</h2>

<p>{{teacher.skills}}</p>

<a href="/profile/teacher/{{teacher.uname}}/edit">Edit My Profile</a>

<hr>
