<h2>Welcome, {{teacher.uname}}!</h2>

<p>{{teacher.bio}}</p>
<p>{{teacher.email}}</p>

<h2>Yeah, I teach.... Bro</h2>

<p>{{teacher.skills}}</p>

<a href="/profile/teacher/{{teacher.uname}}/edit">Edit My Profile</a>

<hr>


<div class="container">
  <div class="row" id="userFormArea">
    <div class="col-md-12">
      <form class="" id="userForm">
        <div class="form-group">
          <input class="form-control" id="username" style="display:none" value="<em>{{teacher.userType}}</em> - <strong>{{teacher.uname}}</strong> {<span style='background-color:yellow; color: white;'>{{teacher.lang1}}</span> <span style='background-color:dodgerblue; color:white;'> {{teacher.lang2}}</span>}">
          <br />
          <input type="submit" class="enterChat btn btn-primary" value="Enter Chat">
        </div>
      </form>

    </div>
  </div>


  <div id="messageArea" class="row hide">
    <div class="col-md-4">
      <div class="well">
        <h3>Online Users</h3>
        <ul class="list-group" id="users"></ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class="chat" id="chat"></div>
      <form class="" id="messageForm" action="index.html" method="post">
        <div class="form-group">
          <label for="">Enter Message</label>
          <textarea class="form-control" id="message" name="name" rows="8" cols="80"></textarea>
          <br />
          <input type="submit" name="" class="btn btn-primary" value="Send Message">
          <a href="/profile/teacher/{{teacher.uname}}"><div class="btn btn-warning">Exit Chat</div></a>
        </div>
      </form>
    </div>
  </div>
</div>
