<h1 class="welcome-header">Welcome, {{teacher.uname}}!</h1>

<div class="container">
  <section class="col-md-3"></section>
  <section class="info-section col-md-6">
    <h4>Bio:</h4>
    <ul>
      <h6>{{teacher.bio}}</h6>
    </ul>
    <h4>My Skills:</h4>
    <ul>
      <h6>{{teacher.skills}}</h6>
    </ul>
    <h4>My Languages:</h4>
    <ul>
      <h6>{{teacher.lang1}}</h6>
      <h6>{{teacher.lang2}}</h6>
      <h6>{{teacher.lang3}}</h6>
    </ul>
    <a href="/profile/teacher/{{teacher.uname}}/edit">Edit My Profile</a>
  </section>
  <section class="col-md-3"></section>
</div>




<hr>


<div class="container">

  <section class="col-md-6 pp">
    <h3>Would you like to be available for pair-programming?</h3>
    <form class="" action="/profile/online/" method="post">
      <input hidden type="text" name="isOnline" value="{{teacher.isOnline}}">
      <input hidden type="text" name="uname" value="{{teacher.uname}}">
      <button type="submit" class="boutton online btn-primary">Go Online</button>
    </form>
<br>
    <form class="" action="/profile/offline/" method="post">
      <input hidden type="text" name="isOnline" value="{{teacher.isOnline}}">
      <input hidden type="text" name="uname" value="{{teacher.uname}}">
      <button type="submit" class="boutton offline btn-danger">Go Offline</button>
    </form>

    {{#if isOnline}}
      <h1>Fuck Me Please</h1>
    {{/if}}
  </section>

  <div class="row" id="userFormArea">
    <div class="col-md-6">
      <form class="" id="userForm">
        <div class="form-group">
          <input style="display:none"type="text" name="userType" value="teacher">
          <input class="form-control" id="username" style="display:none" value="<em>{{teacher.userType}}</em> - <strong>{{teacher.uname}}</strong> {<span style='background-color:yellow'>{{teacher.lang1}}</span> <span style='background-color:dodgerblue; color:white;'> {{teacher.lang2}}</span>}">
          <br />
          <input type="submit" class="enterChat btn btn-primary" value="Enter Group Chat">
        </div>
      </form>

    </div>
  </div>


  <div id="messageArea" class="row hide">
    <div class="col-md-2">
      <div class="well users-list">
        <div class="online-users-header" align="center">
          <h3>Online Users</h3>
        </div>
        <ul class="list-group" id="users"></ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="chat" id="chat"></div>
      <form class="" id="messageForm" action="index.html" method="post">
        <div class="form-group">
          <label for="">Enter Message</label>
          <textarea class="form-control" id="message" name="name" rows="3"></textarea>
          <br />
          <input type="submit" name="" class="btn btn-primary" value="Send Message">
          <a href="/profile/teacher/{{teacher.uname}}"><div class="btn btn-warning">Exit Chat</div></a>
        </div>
      </form>
    </div>
  </div>
</div>
