
<form class="" action="/profile/teacher/edited/" method="post">
  <h2>Welcome,<input type="text" name="uname" value="{{teacher.uname}}">!</h2>
  <input hidden type="text" name="id" value="{{teacher.id}}">
  <p><label for="">Email</label><input type="text" name="email" value="{{teacher.email}}"></p>
  <p><label for="">Password</label><input type="text" name="pword" value="{{teacher.pword}}"></p>
  <p><label for="">First Name</label><input type="text" name="fname" value="{{teacher.fname}}"></p>
  <p><label for="">Last Name</label><input type="text" name="lname" value="{{teacher.lname}}"></p>

  <h2>About Me:</h2>

  <h4><label for="">Describe Myself</label></h4><input type="text" name="bio" value="{{teacher.bio}}">
  <h4><label for="">What are your best areas of strength asa developer?</em></label></h4><textarea type="text" name="skills" value="{{teacher.skills}}">{{teacher.skills}}</textarea>

  <h2>Developer Languages I Prefer:</h2>
  <label for="">Language 1:</label>
  <input type="text" name="lang1" value="{{teacher.lang1}}">
  <label for="">Language 2:</label>
  <input type="text" name="lang2" value="{{teacher.lang2}}">
  <label for="">Language 3:</label>
  <input type="text" name="lang3" value="{{teacher.lang3}}">

  <button type="submit" class="btn btn-primary" name="button">Submit</button>



</form>

  <a href="/profile/teacher/{{teacher.uname}}/delete/"><div class="btn btn-danger" type="button" name="button">Delete Profile</div></a>

<hr>
