<h3>{{teacher.uname}} is an excellent developer!</h3>

<h4>A little about {{teacher.uname}}:</h4>
<p>My full name is actually {{teacher.fname}} {{teacher.lname}}</p>
<p>{{teacher.bio}}</p>

<h5>Some of {{teacher.uname}}'s favorite languages are:</h5>

<p>{{teacher.lang1}}</p>
<p>{{teacher.lang2}}</p>
<p>{{teacher.lang3}}</p>

<h3>You can pair program with {{teacher.uname}}:</h3>

<a href="#"><button type="button" class="btn-primary"> Pair Program</button></a>
